In [19]:
import pandas as pd

In [21]:
presents = {'x' : [0], 'y' : [0], 'present_qty' : [1]}
#x, y, present_qty define the location of house and qty of present
df = pd.DataFrame(presents, columns = ['x', 'y', 'present_qty'])
print(df)

   x  y  present_qty
0  0  0            1

In [45]:
def action_next(x, y, char):
    if char == '^':
        y += 1
    elif char == '>':
        x += 1
    elif char == '<':
        x -= 1
    elif char == 'v':
        y -= 1
    else:
        print("input char error")
    return x, y

In [64]:
f = open('2015-Q3_tyler.txt', "r")

locations = pd.DataFrame([[0, 0]], columns = ['x', 'y'])

current_x = 0
current_y = 0

while 1:
    char = f.read(1)
    if not char: break
    else:
        current_x, current_y = action_next(current_x, current_y, char)
        locations = locations.append(pd.DataFrame([[current_x, current_y]], columns = ['x', 'y']), ignore_index = True)
        
f.close()

In [65]:
locations

       x   y
0      0   0
1      0   1
2      1   1
3      0   1
4      0   2
...   ..  ..
8188 -66  68
8189 -65  68
8190 -65  67
8191 -65  66
8192 -65  67

[8193 rows x 2 columns]

In [73]:
import numpy as np
points = np.mgrid[-2:4, -3:3, 0:1]
present_list = points.reshape(3, -1).T
type(present_list)

numpy.ndarray

In [77]:
present_list

array([[-2, -3,  0],
       [-2, -2,  0],
       [-2, -1,  0],
       [-2,  0,  0],
       [-2,  1,  0],
       [-2,  2,  0],
       [-1, -3,  0],
       [-1, -2,  0],
       [-1, -1,  0],
       [-1,  0,  0],
       [-1,  1,  0],
       [-1,  2,  0],
       [ 0, -3,  0],
       [ 0, -2,  0],
       [ 0, -1,  0],
       [ 0,  0,  0],
       [ 0,  1,  0],
       [ 0,  2,  0],
       [ 1, -3,  0],
       [ 1, -2,  0],
       [ 1, -1,  0],
       [ 1,  0,  0],
       [ 1,  1,  0],
       [ 1,  2,  0],
       [ 2, -3,  0],
       [ 2, -2,  0],
       [ 2, -1,  0],
       [ 2,  0,  0],
       [ 2,  1,  0],
       [ 2,  2,  0],
       [ 3, -3,  0],
       [ 3, -2,  0],
       [ 3, -1,  0],
       [ 3,  0,  0],
       [ 3,  1,  0],
       [ 3,  2,  0]])

In [ ]:
a = 3
a -=

In [53]:
test1 = pd.DataFrame([[1,2], [3,4]], columns = ['a', 'b'])
test1

   a  b
0  1  2
1  3  4

In [54]:
test1.append(pd.DataFrame([[5, 6]], columns = ['a', 'b']) , ignore_index = True)

   a  b
0  1  2
1  3  4
2  5  6

In [56]:
test2 = test1[test1['a'] == 3]
test2

   a  b
1  3  4

In [57]:
test1.drop(test2)

KeyError: "['a' 'b'] not found in axis"

In [49]:
bbb = test1[test1['a'] == 3]['b']

In [50]:
int(bbb)

4

In [46]:
 test1[test1['a'] == 7]

Empty DataFrame
Columns: [a, b]
Index: []

In [51]:
if test1[test1['a'] == 7]:
    print('ok')
else:
    print('ng')

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [59]:
locations = pd.DataFrame({'x' : [0], 'y' : [0]}, columns = ['x', 'y'])
locations

   x  y
0  0  0

In [60]:
locations = pd.DataFrame([[0, 0]], columns = ['x', 'y'])
locations

   x  y
0  0  0

In [62]:
locations.append([[1,0]], ignore_index= True)

     x    y    0    1
0  0.0  0.0  NaN  NaN
1  NaN  NaN  1.0  0.0