In [142]:
import pandas as pd

In [143]:
presents = {'x' : [0], 'y' : [0], 'present_qty' : [1]}
#x, y, present_qty define the location of house and qty of present
df = pd.DataFrame(presents, columns = ['x', 'y', 'present_qty'])
print(df)

   x  y  present_qty
0  0  0            1

In [144]:
def action_next(x, y, char):
    if char == '^':
        y += 1
    elif char == '>':
        x += 1
    elif char == '<':
        x -= 1
    elif char == 'v':
        y -= 1
    else:
        print("input char error")
    return x, y

In [145]:
f = open('2015-Q3_tyler.txt', "r")

locations = pd.DataFrame([[0, 0]], columns = ['x', 'y'])

current_x = 0
current_y = 0

while 1:
    char = f.read(1)
    if not char: break
    else:
        current_x, current_y = action_next(current_x, current_y, char)
        locations = locations.append(pd.DataFrame([[current_x, current_y]], columns = ['x', 'y']), ignore_index = True)
        
f.close()

In [146]:
locations.tail(3)

       x   y
8190 -65  67
8191 -65  66
8192 -65  67

In [147]:
locations[(locations['x'] == -65) & (locations['y'] == 67)]

       x   y
8110 -65  67
8190 -65  67
8192 -65  67

In [154]:
test4 = locations[(locations['x'] == -65) & (locations['y'] == 67)]
type(test4)

pandas.core.frame.DataFrame

In [148]:
presents = pd.DataFrame(columns = ['X', "Y", 'P_count'])
presents

Empty DataFrame
Columns: [X, Y, P_count]
Index: []

In [149]:
def record_present(remain_locations, record_df):
    row = remain_locations.head(1)
    x_i = row['x']
    y_i = row['y']
    
    #cur_location is same x,y house DataFrame, need to be droped after record present count.
    cur_location = remain_locations[(remain_locations['x'] == x_i) & (remain_locations['y'] == y_i)] 
    
    z_i = cur_location.shape[0] #check row count with condition
    
    #add record of cur_loc house present count in new DataFrame
    record_df = record_df.append(pd.DataFrame([[x_i, y_i, z_i]], columns = ['X', "Y", 'P_count']), ignore_index = True)
    
    # remain_locations need to drop cur_location (x_i, y_i)
    remain_locations = remain_locations[(remain_locations['x'] != x_i) or (remain_locations['y'] != y_i)]
    
    return remain_locations, record_df

In [150]:
remain_locations = locations

In [151]:
while 1:
    if remain_locations.shape[0] == 0:
        break
    else:
        remain_locations, presents = record_present(remain_locations, presents)

ValueError: Can only compare identically-labeled Series objects

In [73]:
#create a 2D map for houses.             drop this idea
import numpy as np
points = np.mgrid[-2:4, -3:3, 0:1]
present_list = points.reshape(3, -1).T
type(present_list)

numpy.ndarray

In [159]:
test1 = pd.DataFrame([[1,2], [3,4]], columns = ['x', 'y'])
test1

   x  y
0  1  2
1  3  4

In [160]:
test1 = test1.append(pd.DataFrame([[5, 6]], columns = ['x', 'y']) , ignore_index = True)

In [161]:
test1

   x  y
0  1  2
1  3  4
2  5  6

In [129]:
test1.drop([0], axis = 0)

   c1  c2
1   3   4
2   5   6

In [96]:
for index, row in test1.iterrows():
    print(row['c1'], row['c2'])

1 2
3 4
5 6

In [155]:
test1

   c1  c2
0   1   2
1   3   4
2   5   6

In [162]:
record_present(test1, p)

ValueError: Can only compare identically-labeled Series objects

In [107]:
test1[(test1['c1'] == 3) & (test1['c2'] == 4)].shape[0]

1

In [156]:
p = pd.DataFrame(columns = ['x', 'y', 'z'])

In [157]:
p

Empty DataFrame
Columns: [x, y, z]
Index: []

In [120]:
p.append(pd.DataFrame([[1, 2, 3]], columns = ['x', 'y', 'z']), ignore_index = True)

   x  y  z
0  1  2  3

In [137]:
p['x']

Series([], Name: x, dtype: object)

In [135]:
test3 = pd.DataFrame(columns = ['X', "Y", 'P_count'])

In [138]:
test3['X']

Series([], Name: X, dtype: object)